Html, body {
    height: 100%;
}

.grandParentContainer {
    display: table;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.parentContainer {
    display: table-cell;
    vertical-align: middle;
}

.parentContainer .loginForm {
    background: cornflowerblue;
    border: 1px solid #eee;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.parentContainer .error {
    color: firebrick;
}

input {
    margin: 5px;
}